{% load static %}
<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{{info.icon.url}}" type="image/png">
	<title>My Portfolio</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{% static '/core/css/bootstrap.css'%}">
	<link rel="stylesheet" href="{% static '/core/vendors/linericon/style.css'%}">
	<link rel="stylesheet" href="{% static '/core/css/themify-icons.css'%}">
	<link rel="stylesheet" href="{% static '/core/vendors/owl-carousel/owl.theme.default.min.css'%}">
	<link rel="stylesheet" href="{% static '/core/vendors/fontawesome/css/all.min.css'%}">
	<link rel="stylesheet" href="{% static '/core/vendors/owl-carousel/owl.carousel.min.css'%}">
	<link rel="stylesheet" href="{% static '/core/vendors/nice-select/css/nice-select.css'%}">
	<link rel="stylesheet" href="{% static '/core/css/magnific-popup.css'%}">
	<link rel="stylesheet" href="{% static '/core/css/preloder.css'%}">

	<!-- main css -->
	<link rel="stylesheet" href="{% static '/core/css/style.css'%}">
</head>

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	<!--================ Start Header Area =================-->
	<header class="header_area">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light">
				<div class="container">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="{% url 'index' %}"><img
							src="{{info.logo2.url}}" alt=""></a>
					<a class="navbar-brand logo_inner_page" href="{% url 'index' %}"><img
							src="{{info.logo2.url}}" alt=""></a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav">
							<li class="nav-item active"><a class="nav-link" href="{%url 'index'%}">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="{%url 'services'%}">Services</a></li>
							<li class="nav-item"><a class="nav-link" href="{%url 'work'%}">My Work</a></li>
							<li class="nav-item"><a class="nav-link" href="{%url 'contact'%}">Contact</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!--================ End Header Area =================-->

	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-lg-6">
						<div class="banner_content">
							<h3>Hey There !</h3>
							<h1 class="text-uppercase">I am {{info.name}}</h1>
							<h5 class="text-uppercase">{{info.job}}</h5>
							<div class="social_icons my-5">
								<a href="{{info.facebook}}"><i class="ti-facebook"></i></a>
								<a href="{{info.instgram}}"><i class="ti-instagram"></i></a>
								<a href="{{info.stackoverflow}}"><i class="ti-stack-overflow"></i></a>
								<a href="{{info.linkedin}}"><i class="ti-linkedin"></i></a>
								<a href="{{info.github}}"><i class="ti-github"></i></a>
							</div>
							<a class="primary_btn" href="{% url 'work' %}"><span>See My Work</span></a>
						</div>
					</div>
					<div class="col-lg-4">
						<div class="home_right_img">
							<img class="img-fluid" src="{{info.image.url}}" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Statistics Area =================-->
	<section class="statistics_area">
		<div class="container">
			<div class="row justify-content-lg-start justify-content-center">
				<div class="col-lg-2 col-md-3">
					<div class="statistics_item">
						<h3><span class="counter">50</span>+</h3>
						<p>Happy Customer</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3">
					<div class="statistics_item">
						<h3><span class="counter">12</span>+</h3>
						<p>Ticket Solved</p>
					</div>
				</div>
				<div class="col-lg-2 col-md-3">
					<div class="statistics_item">
						<h3><span class="counter">9</span>/10</h3>
						<p>Average Rating</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Statistics Area =================-->

	<!--================ Start About Us Area =================-->
	<section class="about_area section_gap">
		<div class="container">
			<div class="row justify-content-start align-items-center">
				<div class="col-lg-5">
					<div class="about_img">
						<img class="" src="{{info.about_image.url}}" alt="">
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="main_title text-left">
						<p class="top_text">About me </p>
						<h2>
							{{info.job}}
						</h2>
						<p>
							My name is {{info.name}}. I'm a professional {{info.job}}.<br>
							{{info.about}}
						</p>
						<a class="primary_btn" href="{{info.resume.url}}"><span>Download CV</span></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End About Us Area =================-->

	<!--================ Start Features Area =================-->
	<section class="services_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">My Services</p>
						<h2>My Services<br>
							For You </h2>
					</div>
				</div>
			</div>
			<div class="row">
				{% for offer in offers %}
				<div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
					<div class="service_item">
						<img src="{{offer.image.url}}" alt="">
						<h4>{{offer.title}}</h4>
						<p>{{offer.description}}</p>
						<a href="{{offer.url}}" class="primary_btn2 mt-35">Learn More</a>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	<!--================ End Features Area =================-->


	<!--================ Start Testimonial Area =================-->
	<section class="testimonial_area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">Tesitmonials </p>
						<h2>Honourable Client Says <br>
							About Me </h2>
					</div>
				</div>
			</div>

			<div class="owl-carousel owl-theme testimonial-slider">
				{% for comment in comments %}
				<div class="testimonial-item">
					<div class="row">
						<div class="col-lg-6">
							<div class="testi-img mb-4 mb-lg-0">
								<img src="{{comment.image.url}}" alt="">
							</div>
						</div>
						<div class="col-lg-6">
							<div class="testi-right">
								<h4>{{comment.name}}</h4>
								<p><small>{{comment.title}}</small></p>

								<p>{{comment.comment}}</p>
								<ul class="star_rating mt-4">
									<li><span><i class="fas fa-star"></i></span></li>
									<li><span><i class="fas fa-star"></i></span></li>
									<li><span><i class="fas fa-star"></i></span></li>
									<li><span><i class="fas fa-star"></i></span></li>
									<li><span><i class="fas fa-star"></i></span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
	</section>
	<!--================ End Testimonial Area =================-->




	<!--================ Start Portfolio Area =================-->
	<section class="portfolio_area" id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">My Portfolio</p>
						<h2>My
							Skills</h2>
					</div>
				</div>
			</div>

			<div class="filters portfolio-filter">
				<ul>
					<li class="active" data-filter="*">all</li>
					<li data-filter=".back-end">Back-End</li>
					<li data-filter=".front-end">Front-End</li>
					<li data-filter=".popular">popular</li>
					<li data-filter=".upcoming">upcoming</li>
				</ul>
			</div>

			<div class="filters-content">
				<div class="row portfolio-grid">
					<div class="grid-sizer col-md-3 col-lg-3"></div>
					{% for skill in skills %}
					<div class="col-lg-{{skill.lg}} col-md-6 {% for tag in skill.tags.all %} {{ tag }} {%endfor%} ">
						<div class="single_portfolio">
							<img class="img-fluid w-100" src="{{skill.image.url}}" alt="">
							<div class="overlay"></div>
							<div class="short_info">
								<h3 style="color: aliceblue;">{{skill.name}}</h3>
								<p>{{skill.description}}</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>
	<!--================ End Portfolio Area =================-->

	<!--================ Start Blog Area =================-->
	<section class="blog-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">additional info
						</p>
						<h2>My qualities
						</h2>
					</div>
				</div>
			</div>

			<div class="row">
				{% for qualitie in qualities %}
				<div class="col-lg-4 col-md-6">
					<div class="single-blog">
						<div class="thumb">
							<img class="img-fluid" src="{{qualitie.image.url}}" alt="">
						</div>
						<div class="short_details">
							<h3 class="d-block">
								<h4>{{qualitie.title}}</h4>
							</h3>
							<div class="text-wrap">
								<p>
									{{qualitie.description}}
								</p>
							</div>
						</div>
					</div>
				</div>
				{%endfor%}
			</div>
		</div>
	</section>

	<!--================ Start Brands Area =================-->

	<section class="brands-area section_gap_bottom">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="main_title">
						<p class="top_text">Education</p>
						<h2>My
							Certificates</h2>
					</div>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="owl-carousel brand-carousel">
						<!-- single-brand -->
						{% for certificate in certificates %}
						<div class="single-brand-item d-table">
							<div class="d-table-cell">
								<a href="{{certificate.file.url}}" ><img src="{{ certificate.image.url}}" style="max-width: 5rem;" alt=""></a>
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>
<div style="text-align: center;">
<a class="primary_btn" href="{% url 'contact' %}"><span>contact me</span></a>
</div><br><br>
	<!--================ End Brands Area =================-->

	<!--================Footer Area =================-->
	<footer class="footer_area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer_top flex-column">
						<div class="footer_logo">
							<a href="{% url 'index'%}">
								<img src="{{info.logo1.url}}" alt="">
							</a>
							<div class="d-lg-block d-none">
								<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
									<div class="collapse navbar-collapse offset">
										<ul class="nav navbar-nav menu_nav mx-auto">
											<li class="nav-item"><a class="nav-link text-white"
													href="{% url 'index' %}">Home</a></li>
											<li class="nav-item"><a class="nav-link text-white"
													href="{% url 'services'%}">Services</a></li>
											<li class="nav-item"><a class="nav-link text-white" href="{%url 'work'%}">My
													Work</a></li>
											<li class="nav-item"><a class="nav-link text-white"
													href="{%url 'contact'%}">Contact</a></li>

										</ul>
									</div>
								</nav>
							</div>
						</div>
						<div class="footer_social mt-lg-0 mt-4">
							<a href="{{info.facebook}}"><i class="fab fa-facebook-f"></i></a>
							<a href="{{info.instgram}}"><i class="fab fa-instagram"></i></a>
							<a href="{{info.stackoverflow}}"><i class="fab fa-stack-overflow"></i></a>
							<a href="{{info.linkedin}}"><i class="fab fa-linkedin"></i></a>
							<a href="{{info.github}}"><i class="fab fa-github"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row footer_bottom justify-content-center">
				<p class="col-lg-8 col-sm-12 footer-text">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;
					<script>document.write(new Date().getFullYear());</script> All rights reserved |
					stihiyahya2016@gmail.com<i class="fa fa-heart" aria-hidden="true"></i>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static '/core/js/jquery-3.2.1.min.js'%}"></script>
	<script src="{% static '/core/js/popper.js'%}"></script>
	<script src="{% static '/core/js/bootstrap.min.js'%}"></script>
	<script src="{% static '/core/js/stellar.js'%}"></script>
	<script src="{% static '/core/vendors/isotope/imagesloaded.pkgd.min.js'%}"></script>
	<script src="{% static '/core/vendors/isotope/isotope-min.js'%}"></script>
	<script src="{% static '/core/vendors/owl-carousel/owl.carousel.min.js'%}"></script>
	<script src="{% static '/core/js/jquery.ajaxchimp.min.js'%}"></script>
	<script src="{% static '/core/js/mail-script.js'%}"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="{% static '/core/js/gmaps.min.js'%}"></script>
	<script src="{% static '/core/js/theme.js'%}"></script>

	<script>
		$(window).on('load', function () {
			$(".loader").fadeOut();
			$("#preloder").delay(200).fadeOut("slow");
		});
	</script>

</body>

</html>