{% extends "core/base.html" %}
{% load static %}
{% block navbar %}
<li class="nav-item "><a class="nav-link" href="{%url 'index'%}">Home</a></li>
<li class="nav-item "><a class="nav-link" href="{%url 'services'%}">Services</a></li>
<li class="nav-item active "><a class="nav-link" href="{%url 'work'%}">My Work</a></li>
<li class="nav-item"><a class="nav-link" href="{%url 'contact'%}">Contact</a></li>
{% endblock navbar%}

{% block content %}

  <!--================ Start Banner Area =================-->
  <section class="banner_area">
      <div class="banner_inner d-flex align-items-center">
          <div class="container">
              <div class="banner_content text-center">
                  <h2>My Work</h2>
                  <div class="page_link">
                      <a href="{% url 'index' %}">Home</a>
                      <a href="{% url 'work'%}">My Work</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!--================ End Banner Area =================-->
  {% for work in works %}
	<!--================Start Portfolio Details Area =================-->
	<section class="portfolio_details_area section-margin">
    <div class="container">
      <div class="row">
        <div class="offset-xl-1 col-xl-10">
          <div class="portfolio_details_inner"><h3>{{work.name}} :</h3><hr>
            <div class="row">
              <div class="col-12">
                
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/{{work.youtube_code}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-7 mb-4 mb-lg-0">
                <p>{{work.p1}}</p>
                <p>{{work.p2}}</p>
                <p>{{work.p3}}</p>
              </div>
              <div class="col-lg-5">
                <div class="portfolio_right_text mt-30">
                    <h4 class="text-uppercase">Project Info</h4>
                    <p>
                        {{work.info}}
                    </p>
                    <ul class="list">
                        <li><span>Rating</span>: {%for start in  work.rating %}<i class="fa fa-star"></i>{% endfor %}</li>
                        <li><span>Client</span>: {{work.client}}</li>
                        <li><span>Website</span>: <a href="{{work.website}}">Visit website</a></li>
                        <li><span>Time</span>: {{work.time}} days</li>
                    </ul>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Portfolio Details Area =================-->
    {% endfor %}
        
{% endblock content %}